%m-p-bs {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
$dark-mode-elem: #2b3945;
$dark-mode-bg: #202c37;
$dark-mode-txt: #ffffff;
$light-mode-txt: #111517;
$light-mode-input: #858585;
$light-mode-bg: #fafafa;
$light-mode-elem: #ffffff;

$fw-300: 300;
$fw-600: 600;
$fw-800: 800;
